* {
  font-family: UDEV Gothic;
  font-size: 16px;
  font-weight: 500;
  color: #dddddd;
  /*color: #F1BE9B;*/
}

window#waybar {
  background-color: rgba(30, 30, 30, 0.3);
}

#custom-wlogout {
  padding: 0px 0px 0px 10px;
}

#workspaces {
  padding: 0 5px;
}

#workspaces button {
  padding: 0 10px;
  color: #888;
  background: transparent;
  border: none;
}

#workspaces button.active {
  color: #f1be9b;
  background: transparent;
  border-bottom: 2px solid #dddddd;
  border-radius: 0;
}

#workspaces button:hover {
  box-shadow: none;
  text-shadow: none;
  background: inherit;
  border-top: none;
  background: rgb(65, 69, 89);
}

#mpris {
  color: #eeeeee;
}

#pulseaudio {
  padding: 0px 10px 0px 10px;
}

#bluetooth{
  padding: 0px 10px 0px 0px;
}

#clock.date {
  padding: 0px 0px 0px 0px;
}

#clock {
  padding: 0px 10px 0px 10px;
}
