* {
  /*font-family: JetBrainsMono Nerd Font, monospace;*/
  font-family: UDEV Gothic, monospace;
  font-size: 14px;
  color: #ffffff;
}

window#waybar {
  background-color: rgba(30, 30, 30, 0.3);
}

#custom-wlogout {
  padding: 1px 10px 0px 10px;
}

#mpris {
  padding: 0 10px;
  color: #eeeeee;
}

#workspaces {
  padding: 0 5px;
}

#workspaces button {
  padding: 0 10px;
  color: #888;
  background: transparent;
  border: none;
}

#workspaces button.active {
  color: #ffffff;
  background: transparent;
  border-bottom: 2px solid #dddddd;
  border-radius: 0;
}

#workspaces button:hover {
  background: rgba(255, 255, 255, 0.05);
}
